    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Professionally Managed by<br/><a href="http://512re.com">Hendricks Real Estate</a></h2>
                <p>We have all popular sizes of units. Please call for availability</p>
                <ul class="list-group">
                    <li class="list-group-item" style="background-color:#333;font-size:1.4em;">10 x 10</li>
                    <li class="list-group-item" style="background-color:#333;font-size:1.4em;">10 x 15</li>
                    <li class="list-group-item" style="background-color:#333;font-size:1.4em;">10 x 20</li>
                    <li class="list-group-item" style="background-color:#333;font-size:1.4em;">10 x 25</li>
                </ul>
                <p>Yoakum Self Storage is the most conveniently located facility for all of your personal and business storage needs in Yoakum, Shiner, Hochheim or Cuero. Our units are large, clean and dry, and are surrounded by large paved driveways for easy access.</p>
                <p>ALL units have drive-up access, 8 foot wide doors and ceilings at least 12 feet.</p>
                <p>All of our customers enjoy 24/7/365 access to their units.</p>
                <p>Yoakum Self-Storage offers convenient payment options, including recurring credit card or e-check options, so that you never have to remember to drop a check in the mail again!</p>
                <p>Yoakum Self-Storage is a proud member of the Yoakum Chamber of Commerce and the Texas Self Storage Association.</p>
            </div>
        </div>
    </section>