    <!-- About Section -->
    <section id="location" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Yoakum Self Storage<br/>206 US Hwy 77A<br/>Yoakum, TX 77995</h2>
                <p>Yoakum Self Storage is located on US Highway 77A, just half a mile north of the intersection with SH 111 (Grand Ave).</p>
            <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=206%20US-77%20ALT%2C%20Yoakum%2C%20TX%2077995&key=AIzaSyAaQMOeJkgJdfqVEEf9XOn8_z2BvDixon0" allowfullscreen />

            </div>
        </div>

    </section>